{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %} Payment {% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	//<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}


{% block content %}

<div class="container signup">

	<div class="row">

		<div class="plan col-sm-12">
			<p><strong>Payment Details</strong></p>
		</div>

		<div class="price col-sm-12">
			<p><strong>Amount Payble  </strong>£{{ total }}</p>
		</div>


		<div class="choose col-sm-12">
			<form role="form" method="POST" id="payment-form" enctype="multipart/form-data" action="{% url 'payment' %}">
				
                <legend class="col-sm-12">Customer Details</legend>

				<div id="credit-card-errors" style="display: none;">
					<div id="alert-message block-message error" id="stripe-error-message"></div>
				</div>

				<div class="choose col-sm-12">
					{{ payment_form | as_bootstrap }}
				</div>

				<legend class="col-sm-12">Card Details</legend>

				<div class="choose col-sm-12">
					{{ package_payment_form | as_bootstrap }}
				</div>

				{% csrf_token %}
				<div class="sign-btn col-sm-12">
					<input class=" btn butt" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                </div>
			</form>
		</div>
	</div>
</div>

{% endblock %}