{% extends "base.html" %}

{% block page_title %}Password Reset {% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}


<div class="container signup">

	<div class="row">
		<div class="col-sm-12">

			<form method="post" class="accountform">
				
                <br>
                <br>
                <p><strong> Please specify your email address to receive instructions for resetting it. </strong></p>
                <br>

				<div>
					<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>

					{{ form.email.errors }}

					<p><label for="id_email" class="control-label required-field">E-mail address:</label>
						{{ form.email }} <input type="submit" value="Reset password" class="butt btn" /></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}