{% extends "base.html" %}

{% block page_title %}Password Reset {% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}


<div class="container signup sig">

	<div class="row">

		<div class="plan col-sm-12">
			<p></p>
		</div>


		<div class="price col-sm-12">
			<p><strong> Reset your Password </strong></p>
		</div>

		<div class="col-sm-12 pass">
			<form method="post" class="accountform">

				<div class="col-sm-12">
					<p><strong> Please specify your email address to receive instructions for resetting it. </strong></p>
				</div>

				<div>
					<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>

					{{ form.email.errors }}
                
                <div class="col-sm-12">
					<p><label for="id_email" class="control-label required-field">E-mail address:</label>
						{{ form.email }} <input type="submit" value="Reset password" class="butt btn" /></p>
                </div>

			</form>
		</div>
	</div>
</div>
{% endblock %}