
/*----------------NAVBAR ------------------*/

.topo {
    background-color: #01082b;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    
    }

.navbar-light .navbar-nav .nav-link {
    color: #B89F57;
    
    }

/*----------------SECTION PHOTO -------------------------*/

.photo{
    width: 100%;
}

.main-photo {
    margin: 0px;
    padding: 0px;

}

.main-search{
    background-color: #01082b;
    border-top: #B89F57 2px solid;
    padding: 25px;
           
}




/*----------------INDEX.HTML -----------------*/

.butt{
    background-color: #B89F57;
    color: white;
}



/*-----------SIGNUP.HTML -------------------*/

.signup {
    text-align: center;
    background-color: #01082b;
    color: #B89F57;
    margin-top: 50px;
    margin-bottom: 50px; 
    width: 60%;
    border-radius: 35px;  
    
}

@media (max-width: 769px){
    .signup {
        width: 80%;
    }

}

.plan{
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0px 1px solid #B89F57;
    font-size: 25px;

}

.price {
    padding-bottom: 30px;
    padding-top: 30px;
    border: 1px solid #B89F57;
    font-size: 30px;
    background-color: lavender;
  

}


.items {
    padding-bottom: 10px;
    padding-top: 40px;
    border: 1px 0px solid #B89F57;
    font-size: 15px;
}

.choose {
     border-top: 1px solid #B89F57;
}

.qnty {
    width: 50%;
    display: inline-block;
}

.sign-btn {
    padding-bottom: 25px;
}

/*-----------------------BUY_PACKAGE.HTML---------------*/

.cart {
    text-align: center;
    background-color: #01082b;
    color: #B89F57;
    margin-top: 50px; 
    width: 60%;
    border-radius: 35px;

}

.fix{
    width: 50%;
    height: 36px;
    
}

.pay{
    border-top: 1px solid #B89F57;
    padding: 15px;
    
}

.sub{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    vertical-align: unset;
}

.total {
    font-size: 25px;
}



/*-----------------PAYMENT.HTML------------------*/

legend {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #B89F57;
    margin-top: 15px;
    
}

/*---------------------REGISTRATION.HTML-------------*/

.reg{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

@media (max-width: 769px){
    .reg{
        padding-left: 15px;
        padding-right: 15px;
    }

}