{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %} Contact Us {% endblock %}

{% block head_js %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js">
</script>
<script type="text/javascript">
	(function(){
        emailjs.init("user_cZv4u9dEB6SxvEL5zOUfP");
        })();
</script>

{% endblock %}

{% block content %}

<div class="container signup">

	<div class="row reg">
		<div class="col-sm-12">
            <h1> Contact Form </h1>
			<form onsubmit="return sendMail(this);">
				{% csrf_token %}
				<input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
				<br>
                <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                <br>
				<textarea rows="5" name="projectsummary" class="form-control" id="projectsummary" placeholder="Email Description" required></textarea>
                <br>
				<button type="submit" class="btn butt center-block">Email Us</button>
			</form>
		</div>
	</div>
</div>


{% endblock %}