{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %} Home {% endblock %}


{% block content %}
<div class="container-fluid main-search">
	<div class="main-search__container">
		<section class="listing-search">
			<form action="index.html" method="get" class="listing-search__form">
				{% csrf_token %}
				<div class="row">
					<div class="col-sm-3">

						<div class="input-group mb-3">
							<select class="custom-select" id="inputGroupSelect01">
                                <option selected>Buy/Rent</option>
                                <option value="buy">Buy</option>
                                <option value="rent">Rent</option>
                                                
                            </select>
						</div>

					</div>
					<div class="col-sm-3">
						<div class="input-group mb-3">
							<select class="custom-select" id="inputGroupSelect02">
                                                <option selected>Choose...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                </select>
						</div>

					</div>
					<div class="col-sm-3">
						<div class="input-group mb-3">
							<select class="custom-select" id="inputGroupSelect03">
                                                <option selected>Choose...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                </select>
						</div>

					</div>
					<div class="col-sm-3">

						<button type="submit" class="butt btn btn-block">Search</button>

					</div>


				</div>
			</form>
		</section>
	</div>
</div>


<section class="main-photo">
	<div>
		<img src="{% static 'images/section-photo1.jpeg' %}" class="img-fluid photo">


		</div>
</section>

<section>


	<div class="container card-deck">
    
		{% for property in lists %}
        
		<div class="card col-sm-4 col-md-4 col-lg-4 col-xl-4">
            
            <img src="/media/{{ property.photos }}" class="card-img-top" alt="Card image cap" />

			<div class="card-body col-sm-12 description">
			
                <div class="card-text">
				    <p>{{ property.title }}</p>
                    <p> £{{ property.price }}</p>   				
                   
				</div>

                <div class="card-text">
					<p><i class="fa fa-road"> {{ property.address }}, {{ property.city }}, {{ property.postcode }}</i></p>
				</div>


				<div class="card-text">
                    <p>
					<i class="fa fa-bed"> {{ property.bedrooms }} Beds </i> &nbsp; 
					<i class="fa fa-bath"> {{ property.bathrooms }} Baths </i> &nbsp; 
					<i class="fa fa-tv"> {{ property.rooms }} Room </i>
                    </p>
				</div>   

			</div>

                <a href="{% url 'property_detail' property.id %}" class="btn butt">Details</a>    
		</div>

			{% endfor %}

	</div>
</section>
{% endblock %}