{% extends 'base.html' %}

{% block page_title %}

{{ user }}'s Profile

{% endblock %}

{% block page_heading %}

{{ user }}'s Profile

{% endblock %}

{% block content %}

<div class="container signup">

	<div class="row">

		<div class="plan col-sm-12">
			<p><strong> Welcome, {{ user }}! </strong></p>
		</div>

		<div class="price col-sm-12">
			<a href="{% url 'add_property' %}">Add a Property</a>
		</div>
        
        <p>{{ profile.email}}</p>

        <div class="price col-sm-12">
			<a href="{% url 'view_property' %}">View Properties</a>
		</div>
        
        
            
	
		

	</div>
</div>

{% endblock %}

