{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

<section>
	<div class="container card-deck">

        {% for users in user %}

            <div class="card-text col-sm-12">
                
                <table style="width:80%;"> 
                    <tr>
                        <th> Agency Name </th>
                        <th> Agency Email </th>
                    </tr>

                    <tr>
                        <td> {{ users.first_name }} {{ users.last_name }}</td>
                        <td> {{ users.email }} </td>
                    </tr>

                </table>
                 
            </div>

            

		{% endfor %}

	</div>
</section>
{% endblock %}


