{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %} Cart: Buy_package{% endblock %}


{% block content %}

<div class="container cart">
	<div class="row">

		
		<div class="plan col-sm-12">
            <strong> Checkout </strong>
        </div>

		

		<div class="price col-sm-12">
            <strong> £{{ price }}/Month </strong>
        </div>


		<form class="form-inline" method="POST" action="{% url 'buy_package' %}">
			{% csrf_token %}
			<div class="choose col-sm-12">
				<p> Months of Subscription: </p>
				<input id="quantity" name="quantity" value="1" type="number" min="0" max="12" class="form-control">
				<button type="submit" class="btn butt">Amend</button>
								
			</div>
		</form>
        
        <div class="plan1 col-sm-12">
            
            Amount Payble: <strong>£{{ total }}.00</strong> 
            <p style="font-size:12px;"> for {{ quantity }} Months</p>
        </div>



		<div class="sign-btn col-sm-12">
			<a href="#" class="btn butt" role="button">Checkout</a>
		</div>

	</div>

</div>

{% endblock %}