{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}
Buy Package
{% endblock %}


{% block content %}
<div class="container signup">
	{% for item in cart_items %}

	<div class="row">

		<div class="plan col-sm-12">
			<p><strong> {{ item.signup.name }} </strong></p>
		</div>

		<div class="price col-sm-12">
			<p><strong> £{{ item.signup.price }}/Month </strong></p>
		</div>

		<div class="choose col-sm-12">
			<form class="form-inline" method="post" action="{% url 'adjust_buy_package' item.id %}">
				{% csrf_token %}
                    
                    <div class="sub col-sm-12">
                        <p><strong> Add Month(s) Subscription: </strong></p>
                    </div>

					<div class="col-sm-12">
						<input name="quantity" type="number" min="1" max="12" class="fix" placeholder="Add Quantity...">
                        <button type="submit" class="btn butt">Amend</button>
					</div>

                    <div class="sub col-sm-12">
                        <p><strong>You Choose: {{item.quantity}}/Month(s) Subscription </strong></p>
                    </div>
			</form>
		</div>


	</div>
	{% endfor %}

	<div class="pay col-sm-12">
		<p class="total"><strong>Total Payble: </strong> £{{ total }} </p>
		<a href="{% url 'payment' %}" class="btn butt" role="button">Checkout</a>
	</div>



</div>





{% endblock %}

